:root {
  --ifm-color-primary: #cf27f5;
  --ifm-color-primary-dark: #bb16e0;
  --ifm-color-primary-darker: #940ab3;
  --ifm-color-primary-darkest: #5a026e;
  --ifm-color-primary-light: #cf27f5;
  --ifm-color-primary-lighter: #d93afd;
  --ifm-color-primary-lightest: #e052ff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #cf27f5;
  --ifm-color-primary-dark: #f2aaff;
  --ifm-color-primary-darker: #ef96ff;
  --ifm-color-primary-darkest: #e771ff;
  --ifm-color-primary-light: #f5beff;
  --ifm-color-primary-lighter: #f8d2ff;
  --ifm-color-primary-lightest: #fae6ff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
